In [20]:
import pandas as pd
from scipy.stats import pearsonr
 
# Import your data into Python
#df = pd.read_excel("data/Staff per team.xlsx",sheet_name='Total size considered per team')
df = pd.read_csv("data/AnalyticalStaffvsPayroll.csv")
df.head()

  Team  T. Staff  2022 Payroll
0  NYM        23   282000000.0
1  LAD        32   260000000.0
2  NYY        17   249000000.0
3  PHI        27   242000000.0
4  BOS        26   221000000.0

In [21]:
 # Convert dataframe into series
list1 = df['T. Staff']
list2 = df['2022 Payroll']
 
# Apply the pearsonr()
corr, _ = pearsonr(list1, list2)
print('Pearsons correlation: %.3f' % corr)

Pearsons correlation: 0.357

In [22]:
pearsonr(list1, list2)

(0.3567263830428537, 0.05298395463589249)