In [187]:
from operator import index
import pandas as pd

def groupby_avg_percentage(df, category1, category2, list):

    for i in range (len(list)):
        df[list[i]] = pd.to_numeric(df[list[i]].str.replace("%", ""), errors='coerce')
        df[list[i]] = df[list[i]].astype(float)
        res = df.groupby([category1, category2], sort=False)[list[i]].mean().reset_index()
        res.sort_values(by=[category1], inplace=True)
        res.to_csv("./data/exported/Groupby{0}Team22.csv".format(list[i]), index=False)
    return (df, res)


def groupby_avg_numeric(df, category1, category2, list):

    for i in range (len(list)):
        df[list[i]] = df[list[i]].astype(float)
        res = df.groupby([category1, category2], sort=False)[list[i]].mean().reset_index()
        res.sort_values(by=[category1], inplace=True)
        res.to_csv("./data/exported/Groupby{0}Team22.csv".format(list[i]), index=False)
    return (df, res)


# Relievers pitch value stats
filename = './data/Pitch Value/Pitch Value_2022.csv'
df = pd.read_csv(filename)
df = df[["Name", "Team", "CSW%", "F-Strike%"]]
df.loc[(df["Name"]=="Luis Castillo") & (df["Team"]=="DET"), "Name"] = "Luis Castillo (DET)"
df.loc[(df["Name"]=="Luis Garcia") & (df["Team"]=="SDP"), "Name"] = "Luis Garcia (SDP)"
df.loc[(df["Name"]=="Luis Ortiz") & (df["Team"]=="SFG"), "Name"] = "Luis Ortiz (SFG)"
df.loc[(df["Name"]=="Diego Castillo") & (df["Team"]=="PIT"), "Name"] = "Diego Castillo (PIT)"
list = ["CSW%", "F-Strike%"]
df, res = groupby_avg_percentage(df, "Name", "Team", list)

# Relievers win stats
filename = './data/Win Probability/Win Probability_2022.csv'
df = pd.read_csv(filename)
df = df[["Name", "Team", "RE24"]]
df.loc[(df["Name"]=="Luis Castillo") & (df["Team"]=="DET"), "Name"] = "Luis Castillo (DET)"
df.loc[(df["Name"]=="Luis Garcia") & (df["Team"]=="SDP"), "Name"] = "Luis Garcia (SDP)"
df.loc[(df["Name"]=="Luis Ortiz") & (df["Team"]=="SFG"), "Name"] = "Luis Ortiz (SFG)"
df.loc[(df["Name"]=="Diego Castillo") & (df["Team"]=="PIT"), "Name"] = "Diego Castillo (PIT)"
list = ['RE24']
df, res = groupby_avg_numeric(df, "Name", "Team", list)

# Starter dashboard advanced
filename = './data/Advanced/Advanced_2022.csv'
df = pd.read_csv(filename)
df = df[["Name", "Team", "K-BB%"]]
df.loc[(df["Name"]=="Luis Castillo") & (df["Team"]=="DET"), "Name"] = "Luis Castillo (DET)"
df.loc[(df["Name"]=="Luis Garcia") & (df["Team"]=="SDP"), "Name"] = "Luis Garcia (SDP)"
df.loc[(df["Name"]=="Luis Ortiz") & (df["Team"]=="SFG"), "Name"] = "Luis Ortiz (SFG)"
df.loc[(df["Name"]=="Diego Castillo") & (df["Team"]=="PIT"), "Name"] = "Diego Castillo (PIT)"
list = ['K-BB%']
df, res = groupby_avg_percentage(df, "Name", "Team", list)

# Starter dashboard dashboard
filename = './data/Dashboard/Dashboard_2022.csv'
df = pd.read_csv(filename)
df = df[["Name", "Team", "WAR"]]
df.loc[(df["Name"]=="Luis Castillo") & (df["Team"]=="DET"), "Name"] = "Luis Castillo (DET)"
df.loc[(df["Name"]=="Luis Garcia") & (df["Team"]=="SDP"), "Name"] = "Luis Garcia (SDP)"
df.loc[(df["Name"]=="Luis Ortiz") & (df["Team"]=="SFG"), "Name"] = "Luis Ortiz (SFG)"
df.loc[(df["Name"]=="Diego Castillo") & (df["Team"]=="PIT"), "Name"] = "Diego Castillo (PIT)"
list = ['WAR']
df, res = groupby_avg_numeric(df, "Name", "Team", list)

In [189]:
path = "./data/Exported/"
file1 = "GroupbyCSW%22.csv"
file2 = "GroupbyF-Strike%22.csv"
file3 = "GroupbyRE2422.csv"
file4 = "GroupbyWAR22.csv"
file5 = "GroupbyK-BB%22.csv"

df1 = pd.read_csv(path + file1)
df2 = pd.read_csv(path + file2)
df3 = pd.read_csv(path + file3)
df4 = pd.read_csv(path + file4)
df5 = pd.read_csv(path + file5)

df_join = pd.merge(df1, df2,  how='left', on=['Name','Team'])
df_join = pd.merge(df_join, df3, how='left', on=["Name", "Team"])
df_join = pd.merge(df_join, df4, how='left', on=["Name", "Team"])
df_join = pd.merge(df_join, df5, how='left', on=["Name", "Team"])

df6 = pd.read_csv("./data/pichertsGS3.csv")
#df_join = df_join[['Name','CSW%','F-Strike%','RE24','WAR','K-BB%']]
df6 = df6[['Name','Type','NewTeamDeadline22']]
df_join = pd.merge(df_join, df6, how='left', on=["Name"])
#df_join['Year'] = '2022'

# shift column 'Name' to first position
#first_column = df_join.pop('Type')
  
# insert column using insert(position,column_name,
# first_column) function
#df_join.insert(2, 'Type', first_column)

df_join.to_csv("./data/Exported/PichertStatsTeam22.csv", index=False)

,Name,Team,CSW%,F-Strike%,RE24,WAR,K-BB%,Type,NewTeamDeadline22
0,A.J. Alexy,TEX,25.200000,60.200000,-1.360000,-0.066667,-6.533333,Reliever,No
1,A.J. Ladwig,MIA,17.100000,80.000000,-1.640000,-0.200000,0.000000,Reliever,No
2,A.J. Minter,ATL,30.716667,67.216667,2.156667,0.333333,29.333333,Reliever,No
3,A.J. Puk,OAK,30.883333,61.683333,-0.191667,0.033333,19.466667,Reliever,No
4,Aaron Ashby,MIL,31.650000,60.833333,-1.701667,0.150000,15.916667,Starter,No

In [190]:
import pandas as pd

filename = './data/Exported/PichertStatsTeam22.csv'
starter_list = ["Average of WAR", "Average of K-BB%", "Average of CSW%"]
reliever_list = ['CSW%','F-Strike%','RE24']
list = ['CSW%','F-Strike%','RE24', 'WAR', 'K-BB%']
output_name = "PichertsStatsTeam22"
index = "Name"

def difference(filename ,index, list):
     
     df = pd.read_csv(filename)
     df = df.set_index(index)
     for i in range (len(list)):
          df[list[i]+"Diff"] = (df[list[i]]-
               df.groupby(index)[list[i]].last()).to_numpy()

          df[list[i]+"Diff"] = -df[list[i]+"Diff"]
          df[list[i]+"Diff"] = df[list[i]+"Diff"].shift(+1)
     return df

df = difference(filename, index, list)
df.to_csv('./data/Exported/Difference{0}.csv'.format(output_name))
df.head()

,Team,CSW%,F-Strike%,RE24,WAR,K-BB%,Type,NewTeamDeadline22,CSW%Diff,F-Strike%Diff,RE24Diff,WARDiff,K-BB%Diff
Name,,,,,,,,,,,,,
A.J. Alexy,TEX,25.200000,60.200000,-1.360000,-0.066667,-6.533333,Reliever,No,NaN,NaN,NaN,NaN,NaN
A.J. Ladwig,MIA,17.100000,80.000000,-1.640000,-0.200000,0.000000,Reliever,No,-0.0,-0.0,-0.0,-0.0,-0.0
A.J. Minter,ATL,30.716667,67.216667,2.156667,0.333333,29.333333,Reliever,No,-0.0,-0.0,-0.0,-0.0,-0.0
A.J. Puk,OAK,30.883333,61.683333,-0.191667,0.033333,19.466667,Reliever,No,-0.0,-0.0,-0.0,-0.0,-0.0
Aaron Ashby,MIL,31.650000,60.833333,-1.701667,0.150000,15.916667,Starter,No,-0.0,-0.0,-0.0,-0.0,-0.0